langgraph
langchain-core
langchain-openai
langchain-google-genai
pydantic
starlette
uvicorn
python-dotenv
openai
google-ai-generativelanguage
langgraph-cli
langgraph-runtime-inmem
langgraph-cli[inmem]